.advanced-title {
    border-bottom: 1px solid gray;
    color: red;
    padding: 15px;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 300px auto;
    padding: 10px;
}

.grid-item {
    padding: 10px;
}

.search-descriptor {
    font-size: 15px;
}

.search-instruction {
    font-size: 13px;
}

.header {
    height: 50px;
    text-align: right;
    width: 100%;
}

#index_search {
    margin: auto;
    width: 50%;
}

#main_search_bar {
    border-radius: 25px;
}